.flexbox {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 100px;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: green;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: yellow;
}

li{
  list-style: none;
}

.flexbox li:nth-child(2){
    padding-bottom: 100px;
}
.flexbox li:nth-child(4){
  margin-top: 30px;
}

.flexbox li:last-child{
  margin-left: 100px;
}


@media screen and (min-width:700px){
  .box4{
    background-color: purple;
  }
}

